name: Container Image Build Pipeline
on:
  push:
    branches: [ master ]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - dockerfile: "Dockerfile"
            platforms: "linux/amd64"
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6

      - name: Extract Docker Image Tag
        id: extract_tag
        run: |
          tag=$(grep -oE 'jenkins/jenkins:[^[:space:]]+' Dockerfile | cut -d: -f2)
          echo "image_tag=$tag" >> $GITHUB_OUTPUT

      - name: Log in to Private Registry
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v3
        with:
          registry: ${{ vars.ALIBABA_CLOUD_CR_HOSTNAME }}
          username: ${{ secrets.ALIBABA_CLOUD_CR_USERNAME }}
          password: ${{ secrets.ALIBABA_CLOUD_CR_PASSWORD }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ${{ matrix.dockerfile }}
          platforms: ${{ matrix.platforms }}
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ vars.ALIBABA_CLOUD_CR_HOSTNAME }}/dianplus/jenkins:${{ steps.extract_tag.outputs.image_tag }},${{ vars.ALIBABA_CLOUD_CR_HOSTNAME }}/dianplus/jenkins:latest
